h1{
text-align:center;
color:#426fad;
}
h2{
border-bottom:2px solid black;
color:#426fad;
width:60%;
}
p{
font-size:20px;
width:58%;
float:left;
}
.container{
margin-top:-138%;
border:2px solid black;
float:left;
width:40%;
margin-left:60%;
}
.wedding{
left:-250px;
position:relative;
top:-400px;
flaot:right;
border-radius:20px;
}
h3{
text-align:center;
border-bottom:1px solid black;
}
.image,img{
height:200px;
margin-left:4px;
paddingbottom:20px;
text-align:center;
}
h4{
padding:5px;
background-color:#b3d9ff;
text-align:center;
margin-bottom:3px;
}
h5{
text-align:center;
font-size:15px;
padding:5px;
margin-top:-3px;
background-color:#e5e7e9;
border-bottom:2px solid #ffffff;
}
#rep{
text-align:center;
font-size:15px;
padding:5px;
margin-top:-25px;
background-color:#e5e7e9;
border-bottom:2px solid #ffffff;
}
#center{
text-align:center;
font-size:15px;
padding:5px;
margin-top:-25px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#yellow{
width:40%;
text-align:center;
padding:5px;
font-size:18px;
margin-top:-100px;
background-color:#ffe014;
border-bottom:2px solid #ffffff;
}
#light{
width:45%;
text-align:center;
padding:5px;
font-size:18px;
margin-top:-100px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#under-19{
width:57.9%;
text-align:center;
padding:5px;
font-size:18px;
margin-top:-100px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#england{
width:60.3%;
text-align:center;
padding:5px;
font-size:18px;
margin-top:-100px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#eng2007{
width:48.8%;
text-align:center;
padding:5px;
font-size:18px;
margin-top:-100px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#ban2014{
width:54.2%;
text-align:center;
padding:5px;
font-size:18px;
margin-top:-100px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#ind2023{
width:65.7%;
text-align:center;
padding:5px;
font-size:18px;
margin-top:-100px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#row{
position:relative;
top:-25px;
}
#trophy{
width:100%;
position:relative;
top:-25px;
text-align:center;
font-size:15px;
padding:5px;
margin-top:-25px;
background-color:#d0d3d4;
border-bottom:2px solid #ffffff;
}
#td{
position:relative;
left:60px;
font-size:18px;
color:blue;
}
th{
font-size:17px;
text-align:left;
width:20%;
}
td{
font-size:13.5px;
margin-left:70px;
padding-left:10px;
}
span{
color:blue;
}
.venkat{
position:relative;
top:350px;
background-color:#c0c0c0;
padding:10px;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
}
.ven{
position:relative;
width:100px;
height:100px;
border-radius:50%;
right:-190px;
top:15px;
}
em{
color:blue;
font-size:20px;
position:relative;
left:-150px;
top:-50px;
}
header{
background-color:#c0c0c0;
padding:15px;
border-top-left-radius:20px;
border-top-right-radius:20px;
margin-bottom:-17px;
}
#name{
position:relative;
left:30px;
top:-50px;
}
